body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  text-align: center;
}

#content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

/* Tabelle: Kein Außenborder, aber dicke weiße Linien innen */
table {
  border-collapse: collapse;
  position: relative;
}

td {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  box-sizing: border-box;
  cursor: pointer;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.cell-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Entferne äußere Ränder der Tabelle */
tr:first-child td {
  border-top: none;
}
tr:last-child td {
  border-bottom: none;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

.overlay-line {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-32 {
  margin-top: 32px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #00b0ef;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #97d2e7;
}
